<a href="<%= upmin_model_path(upmin_model.path_hash) %>">
  <div class="col-sm-3 product-container">
    <img src="<%= product.image %>">
    <h5>
      <%= product.name %>
    </h5>
    <p class="product-desc">
      <%= product.short_desc %>
    </p>
  </div>
</a>

<% content_for(:head) do %>
  <style>
    .product-container {
      width: 250px;
      height: 340px;
      border: 1px solid #eee;
      padding: 20px;
      display: inline-block;
    }
    .product-container img {
      max-width: 100%;
      max-height: 160px;
    }
    .product-container .product-desc {
      color: #888;
      max-height: 60px;
      overflow: hidden;
    }
  </style>
<% end %>
